#header-global .header-left-navigation h1 {
    width: 32px !important;
    width: 2rem;
    height: 32px !important;
    height: 2rem;
    background-image: url(http://i.imgur.com/7j8RU4Q.png) !important;
    background-size: 2rem 2rem;
